useDynLib(PWEALL, .registration = TRUE)
export(cp)
export(cpboundary)
export(cpstop)
export(fourhr)
export(hxbeta)
export(innercov)
export(innervar)
export(instudyfindt)
export(ovbeta)
export(overallcov)
export(overallcovp1)
export(overallcovp2)
export(overallvar)
export(pwe)
export(pwecx)
export(pwecxcens)
export(pwecxpwu)
export(pwecxpwufindt)
export(pwecxpwuforvar)
export(pwefv2)
export(pwefvplus)
export(pwepower)
export(pwepowereq)
export(pwepowerfindt)
export(pwepowerni)
export(pwesim)
export(pwu)
export(qpwe)
export(qpwu)
export(rmstcov)
export(rmsth)
export(rmstpower)
export(rmstpowerfindt)
export(rmstsim)
export(rmstutil)
export(rpwe)
export(rpwecx)
export(rpwu)
export(spf)
export(wlrcal)
export(wlrcom)
export(wlrutil)

export(btrany)
export(gmatrix)

export(mc.fun1)
export(mc.inf)
export(mc.innervar)
export(mc.innercov)
export(mc.overallcovp1)
export(mc.overallcovp2)
export(mc.overallcov)
export(mc.xdenom)
export(surv.to.logistic)
export(tbase)
export(trany)


#export(solveabc)
import("survival","splines","splines2")
importFrom("stats", "pnorm", "qnorm", "rbinom", "runif", "residuals", "rnorm", "dbeta")
importFrom("stats", "pgamma", "qgamma")


